<%= render "shared/header" %>
<div class='main'>
  <%# <a href="/hamaootu">浜大津</a> %>

<%= render "shared/side" %>

  <%# FURIMAの特徴 %>
  <div class='feature-contents'>
    <%= image_tag "nannko",class:"list-pict" %>
    

    <div class="hamaotu">
      <%= link_to '浜大津', hamaootu_index_path , method: :get, class: "item-red-btn" %>
    </div>

    <div class=" katata">
      <%= link_to '堅田', katata_index_path , method: :get, class: "item-red-btn" %>
    </div>

    <div class=" kihama">
      <%= link_to '木浜', '#' , method: :get, class: "item-red-btn" %>
    </div>

    <div class="seta">
      <%= link_to '瀬田川', '#' , method: :get, class: "item-red-btn" %>
    </div>

    <div class="karasaki">
      <%= link_to '唐崎',  karasaki_index_path , method: :get, class: "item-red-btn" %>
    </div>

    <div class="zinnkou">
      <%= link_to '矢橋帰帆島', '#' , method: :get, class: "item-red-btn" %>
    </div>
  </div>

  <div class='purchase-btn'>
    <span class='purchase-btn-text'>投稿する</span>
    <%= link_to new_item_path do%>
    <%= image_tag 'biwako4.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    <% end %>
  </div>
</div>
<div class="bottom_btn_nannko">
<%= link_to "戻る", :back , method: :get, class: "item-top-btn-nannko" %>
</div>
  <%= render "shared/footer" %>