<%# 下部広告部分 %>

<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='saisin-details'>
      <h2 class='footer-content-head'>SAISINについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'SAISIN利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='saisin-details'>
      <h2 class='footer-content-head'>SAISINを見る</h2>
      <ul>
        <li><%= link_to '場所一覧', "#", class: "footer-link" %></li>
        <li><%= link_to '情報一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='saisin-details'>
      <h2 class='footer-content-head'>SAISINについて</h2>
      <ul>
        <li><%= link_to 'SAISINガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("aicon", class:"logo-white"), "#" %>
  <p>© SAISIN</p>
</div>