<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='search-bar-contents'>

    <div class="rogo">
      <%=link_to image_tag("biwako4.png" ,class:"rogo_biwako"), "/"%>
        <div class="side">
          <p>SAISIN  みんなで作る琵琶湖の最新情報</p> 
        </div>
    </div>

    <div class='nav'>
      <ul class='lists-right'>
        <% if user_signed_in?%>
        <li><%= link_to current_user.nickname, my_item_path(current_user.id), class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout"%></li>
        <% else %>
        <li><%= link_to 'ログイン', new_user_session_path , class: "login" %></li>
        <li><%= link_to '新規登録', new_user_registration_path ,class: "sign-up" %></li>
      </ul>
      <% end %>
    </div>
</header>