<div class="main_2">
<div class = "said_nav">
<ul>
  <li> <%= link_to '奥琵琶湖', okubiwako_index_path , method: :get, class: "said_nannko" %></li>
  <li> <%= link_to '高島', takasima_index_path , method: :get, class: "item-red-btn" %></li>
  <li> <%= link_to '近江舞子', oomimaiko_index_path , method: :get, class: "item-red-btn" %></li>
  <li> <%= link_to '沖ノ島', okinosima_index_path , method: :get, class: "item-red-btn" %></li>
  <li> <%= link_to '彦根',hikone_index_path , method: :get, class: "item-red-btn" %></li>
  <li> <%= link_to '長浜',nagahama_index_path , method: :get, class: "item-red-btn" %></li>
</ul>
</div>