<%= render "shared/header" %>
<div class='main'>
  <div class='item-contents'>
    <h2 class='title2'>奥琵琶湖</h2>
    <ul class='item-lists'>
      <% @items.each do |item| %>
      <li class='list'>
        <h3 class='item_time'>
          <%=  l item.created_at%>
        </h3>
        <div class='item-img-content'>
          <%= link_to (image_tag item.image, class: "item-img" if item.image.attached?), item_path(item.id) %>

          <div class='item-info'>
            <h3 class='item-name'>
              <%= item.user.nickname %>
            </h3>

            <h3 class='item-name'>
              <%= item.comment %>
            </h3>

            <div class='item-price'>
              <h3 class='item-name'>
                <span><%= item.place.name %></span>
              </h3>

           <% if user_signed_in? && current_user%>
              <% if current_user.already_favorited?(item) %>
              <%= link_to item_favorites_path(item), method: :delete do %>
              <div class='star-btn'>
                <%= image_tag "favorite1", class:"good-icon" %>
                <% end %>
                <% else %>
                <%= link_to  item_favorites_path(item), method: :post do%>
                <div class='star-btn'>
                  <%= image_tag "favorite", class:"good-icon" %>
                  <% end %>
                  <% end %>
                  <% end %>
                  <span class='star-count'><%= item.favorites.count %></span>

                </div>
            </div>
          </div>
        </div>
      </li>
      <% end %>

      <div class='purchase-btn'>
        <span class='purchase-btn-text'>投稿する</span>
        <%= link_to new_item_path do%>
        <%= image_tag 'biwako4.png' , size: '185x50' ,class: "purchase-btn-icon" %>
        <% end %>
      </div>

      <div class="bottom_btn">
        <%= link_to "戻る", :back , method: :get, class: "item-top-btn-show" %>
      </div>

      <%= render "shared/footer" %>