<%= render "shared/header" %>
<div class='main'>
  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      みんなで作る琵琶湖最新情報
    </h2>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# FURIMAの特徴 %>
  <div class='feature-contents'>
    <%= image_tag "main",class:"list-pict" %>
    <p><%= link_to (image_tag "hamaootu", class: "hamaootu-img") %></p>
    <%= link_to (image_tag "card-visa", class: "card-visa-img") %>
  </div>


  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>最新情報</h2>
    <%# link_to '新規投稿商品', "#", class: "subtitle" %>
    <ul class='item-lists'>
<% @items.each do |item| %>
      <li class='list'>
        <div class='item-img-content'>
          
          <%= link_to (image_tag item.image, class: "item-img" if item.image.attached?), item_path(item.id) %>
          <div class='sold-out'>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
        (投稿者)
            <%= item.user.nickname %>
          </h3>
          <div class='item-price'>
          <h3 class='item-name'>
            <span>(場所)<%= item.place.name %></span>
          </h3>
          <h3 class='item-name'>
       <span>(ひとこと)<%= item.comment %></span>
          </h3>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
      </li>
        <% end %>

 <div class='purchase-btn'>
  <span class='purchase-btn-text'>出品する</span>
 <%= link_to new_item_path do%>
    <%= image_tag 'camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
    
<% end %>
</div> 

<%= render "shared/footer" %>