<%= render "shared/header" %>

<div class='rank'>
<ul>
<li><%= link_to 'すべての投稿', all_index_path , method: :get, class: "item-red-btn" %></li>
<li><%= link_to 'いいねランキング', rank_index_path , method: :get, class: "item-red-btn" %></li>
</ul>
</div>

<div class='feature-contents'>
  <%= image_tag "biwako6.png",class:"list-pict" %>
  <div class="nannko">
    <%= link_to '南湖', nannko_index_path , method: :get, class: "item-red-btn" %>
  </div>
<div class="hokko">
  <%= link_to '北湖', hokko_index_path , method: :get, class: "item-red-btn" %>
</div>
</div>

<div class='item-contents'>
  <h2 class='title2'>最新TOP3</h2>
  <ul class='item-lists'>

    <% @items.each do |item| %>
    <li class='list'>
      <h3 class='item_time'>
        <%=  l item.created_at%>
      </h3>
      <div class='item-img-content'>
        <%=link_to (image_tag item.image, class: "item-img" if item.image.attached?), item_path(item.id) %>

        <div class='item-info'>
          <h3 class='item-name'>
            <%= item.user.nickname %>
          </h3>

          <h3 class='item-name'>
            <%= item.comment %>
          </h3>

          <div class='item-price'>
            <h3 class='item-name'>
              <span><%= item.place.name %></span>
            </h3>
            <h3 class='item-name'>
              <% if user_signed_in? && current_user%>
              <% if current_user.already_favorited?(item) %>
              <%= link_to item_favorites_path(item), method: :delete do %>
              <div class='star-btn'>
                <%= image_tag "favorite1.png", class:"good-icon" %>
                <% end %>
                <% else %>
                <%= link_to  item_favorites_path(item), method: :post do%>
                <div class='star-btn'>
                  <%= image_tag "favorite.png", class:"good-icon" %>
                  <% end %>
                  <% end %>
                  <% end %>
                  <span class='star-count'><%= item.favorites.count %></span>
                </div>
              </div>
          </div>
        </div>
    </li>
    <% end %>

    <div class='purchase-btn'>
      <span class='purchase-btn-text'>投稿する</span>
      <%= link_to new_item_path do%>
      <%= image_tag 'biwako4.png' , size: '185x50' ,class: "purchase-btn-icon" %>
      <% end %>
    </div>
    <%= render "shared/footer" %>