<div class="items-sell-contents">
  <header class="items-sell-header">


  </header>
  <div class="items-sell-main">
    <h2 class="items-sell-title">情報を入力</h2>

<%= form_with model:@item, url: items_path,local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

    <div class="img-upload">
      <div class="weight-bold-text">
        出品画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    <div id="image-list"></div>
    <div class="new-items">
      <div class="weight-bold-text">
        ひとこと
      </div>
      <%= f.text_area :comment, class:"items-text", id:"item-name", placeholder:"ひとこと", maxlength:"100" %>
      
      <div class="items-explain">
        <div class="weight-bold-text">
        </div>
      </div>
    </div>

    <div class="items-detail">
      <div class="weight-bold-text question-text">
      </div>
      <div class="form">
        <div class="weight-bold-text">
          場所
          <span class="indispensable">必須</span>
        </div>
          <%= f.collection_select(:place_id, Place.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
        <div class="weight-bold-text">
          天気
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:weather_id, Weather.all, :id, :name, {}, {class:"select-box", id:"item-sales-status"}) %>
        <div class="weight-bold-text">
          風
        </div>
        <%= f.collection_select(:wind_id, Wind.all, :id, :name, {}, {class:"select-box", id:"item-shipping-fee-status"}) %>
        <div class="weight-bold-text">
          水温※温度計をお持ちの方入力ください。
        </div>
        <%= f.collection_select(:water_temperature_id, WaterTemperature.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %>
        <div class="weight-bold-text">
          波
        </div>
        <%= f.collection_select(:wave_id,Wave.all, :id, :name, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>
        
        <div class="weight-bold-text">
          水質
        </div>
        <%= f.collection_select(:water_quality_id, WaterQuality.all, :id, :name, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>

        <div class="weight-bold-text">
          水草
        </div>
        <%= f.collection_select(:aquatic_plant_id, AquaticPlant.all, :id, :name, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>

        <div class="weight-bold-text">
          ベイト
        </div>
        <%= f.collection_select(:bait_id, Bait.all, :id, :name, {}, {class:"select-box", id:"item-scheduled-delivery"}) %>
      </div>
    </div>


    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "投稿" ,class:"sell-btn" %>
    </div>
      <%# <%=link_to 'もどる', root_path, class:"back-btn" %> 
    <%# /下部ボタン %>
  </div>
  <% end %>

  <footer class="items-sell-footer">
    <%= link_to image_tag('aicon2.png' , size: '185x100'), "/" %>
    <p class="inc">
    </p>
  </footer>
</div>