<% @results.each do |item| %>
      <li class='list'>
        <div class='item-img-content'>
          
          <%= link_to (image_tag item.image, class: "item-img" if item.image.attached?), item_path(item.id) %>
          <div class='sold-out'>

        </div>
        <div class='item-info'>
          <h3 class='item-name'>
        (投稿者)
            <%= item.user.nickname %>
          </h3>
          <div class='item-price'>
          <h3 class='item-name'>
            <span>(場所)<%= item.place.name %></span>
          </h3>
          <h3 class='item-name'>
       <span>(ひとこと)<%= item.comment %></span>
          </h3>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
      </li>
        <% end %>
