<%= render "shared/header" %>

<div class="item-show">
  <div class="item-box">
    <div class='item-img-content'>
      <%= image_tag @item.image, class:"item-box-img" if @item.image.attached? %>
    </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿日</th>
          <td class="detail-value"><%= l @item.created_at %></td>
        </tr>
        <tr>
          <th class="detail-item">ひとこと</th>
          <td class="detail-value"><%= @item.comment %></td>
        </tr>
        <tr>
          <th class="detail-item">場所</th>
          <td class="detail-value"><%= @item.place.name %></td>
        </tr>
        <tr>
          <th class="detail-item">天気</th>
          <td class="detail-value"><%= @item.weather.name%></td>
        </tr>
        <tr>
          <th class="detail-item">風</th>
          <td class="detail-value"><%= @item.wind.name %></td>
        </tr>
        <tr>
          <th class="detail-item">水温</th>
          <td class="detail-value"><%= @item.water_temperature.name %></td>
        </tr>
        <tr>
          <th class="detail-item">波</th>
          <td class="detail-value"><%= @item.wave.name %></td>
        </tr>
        <tr>
          <th class="detail-item">水質</th>
          <td class="detail-value"><%= @item.water_quality.name%></td>
        </tr>
        <tr>
          <th class="detail-item">水草</th>
          <td class="detail-value"><%=@item.aquatic_plant.name %></td>
        </tr>
        <tr>
          <th class="detail-item">ベイト</th>
          <td class="detail-value"><%= @item.bait.name%></td>
        </tr>
      </tbody>
    </table>

    <div class="option">
      <div class="favorite-btn">

        <% if user_signed_in? && current_user%>
        <% if current_user.already_favorited?(@item) %>
        <%= link_to item_favorites_path(@item), method: :delete do %>
        <div class='star-btn'>
          <%= image_tag "favorite1.png" ,class:"favorite-star-icon" ,width:"10",height:"10"%>
          <% end %>
          <% else %>
          <%= link_to  item_favorites_path(@item), method: :post do%>
          <div class='star-btn'>
            <%= image_tag "favorite.png" ,class:"favorite-star-icon" ,width:"10",height:"10"%>
            <% end %>
            <% end %>
            <% end %>
                  <% unless user_signed_in?%>
                  <div class='star-btn2'>
                    <%= image_tag "favorite1.png", class:"good-icon3" %>
                  </div>
                  <% end %>

            <span class='star-count'><%= @item.favorites.count %></span>
          </div>
        </div>
        <div class="report-btn">
        </div>
      </div>
      <%# /商品の概要 %>
      <div class="comment-box">
        <% if current_user %>
        <%= form_with(model: [@item, @comment], local: true) do |form| %>
        <%= form.text_area :text, class:"comment-text",placeholder: "コメントする", rows: "2",width:"20",height:"25" %>
        <%= form.submit "コメント" ,class:"comment-btn"%>
        <% end %>
        <% else %>
        <div class="login_comment">
          <p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
        </div>
        <% end %>
        <div class="comments">
          <% if @comments %>
          <% @comments.each do |comment| %>
          <div class="comment">
            <div class="nickname">
              <%= comment.user.nickname %>
            </div>
            <div class="comment-date">
              <%= l comment.created_at %>
            </div>

            <div class="destroy">
              <% if user_signed_in? && current_user.id == @item.user_id %>
              <%= link_to (image_tag "destroy.png", class: "destroy-img"),comment_path(comment.id),method: :delete %>
              <% end %>
            </div>
          </div>

          <div class="comment-content">
            <%= comment.text %>
          </div>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="bottom_btn">
      <%= link_to "トップに戻る", root_path , method: :get, class: "item-top-btn" %>
      <% if user_signed_in? && current_user.id == @item.user_id %>
      <%= link_to '投稿を編集する', "#" , method: :get, class:'item-destroy' %>
      <div id="open">投稿を削除する</div>
      <div id="mask" class="hidden"></div>
      <section id="modal" class="hidden">
        <p>本当に削除しますか？</p>
        <div id="close">
          <%= link_to '投稿を削除する', item_path , method: :delete  %>
        </div>
      </section>
      <% end %>
    </div>

    <%= render "shared/footer" %>